{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">encrypt</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  <form method="POST" action="{{ url_for('encrypt_decrypt') }}">
    {{ form.csrf_token }}
  
    Bubble Sort Algorithm in Python
    Bubble Sort is one of the most straightforward sorting algorithms. Its name comes from the way the algorithm works: With every new pass, the largest element in the list “bubbles up” toward its correct position.
    
    Bubble sort consists of making multiple passes through a list, comparing elements one by one, and swapping adjacent items that are out of order.
    
    
    <div class="form-group">{{ form.table_to_sort.label }} {{ form.table_to_sort(size=1000, class="form-control") }}</div>

    <button type="submit" class="btn btn-primary">Submit</button>

 
</form>
</div>
{% endblock %}
